@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --background-color: #0E0E0E;
    --text-color: #A2A2A2;
    --container-background: #171717;
    --hover-color: #1F1F1F;
    --accent-background: #0f0f0f;
    --hover-text-color: #9C9C9C;


    --border-radius: 10px;
    --overall-padding: 1em;
    --success-background: #0D1E15;
    --success-text-color: #50B37F;
    --danger-background: #270707;
    --danger-text-color: #EA4C4C;
    --warning-background: #271A17;
    --warning-text-color: #DE612A;
    --text-color: #fff;

}

/* [data-theme='dark'] {
    --background-color: #0E0E0E;
    --text-color: #A2A2A2;
    --container-background: #171717;
    --hover-color: #1F1F1F;
    --accent-background: #0f0f0f;
} */

[data-theme='light'] {
    --background-color: #fff;
    --text-color: #000;
    --container-background: #fff;
    --hover-color: #E6E6E6;
    --accent-background: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    overflow: hidden;
    font-size: 12px;
}

#theme-switch-btn {
    background-color: var(--container-background);
    color: var(--text-color);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    position: fixed;
    top: 10px;
    right: 10px;
}

#theme-switch-btn:hover {
    background-color: var(--hover-color);
}

.wrapper {
    height: 100%;
    width: 100%;
}

.container {
    position: relative;
    background-color: var(--container-background);
    border-radius: var(--border-radius);
    border: 1px solid var(--hover-color);
    overflow: auto;
}

.container::-webkit-scrollbar {
    width: 0;
}

.tabs {
    position: sticky;
    height: 60px;
    top: 0;
    left: 0;
    background-color: var(--container-background);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    border-bottom: 1px solid var(--hover-color);
    z-index: 10;
    padding: 0px 16px;
}

.tabs>div>ul {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.tabs li {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}

.tabs li:hover {
    color: var(--text-color);
}

.tabs li:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 3px solid var(--warning-text-color);
    border-radius: 10px 10px 0px 0px;
}

.tabs li.active {
    color: var(--text-color);
}

.tabs li.active::after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 3px solid var(--warning-text-color);
    border-radius: 10px 10px 0px 0px;
}

.search-div {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-div .icon {
    position: absolute;
    left: 10px;
    pointer-events: none;
}

#search {
    all: unset;
    box-sizing: border-box;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid var(--hover-color);
    min-width: 135px;
    width: 250px;
    padding: 15px;
    padding-left: 35px;
    background-color: var(--hover-color);
    border-radius: var(--border-radius);
}

.table-div {
    position: relative;
    padding: var(--overall-padding);
    padding-top: 0;
}

table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    margin-top: 16px;
}

thead {
    position: relative;
}

td {
    height: 60px;
    text-align: left;
    vertical-align: middle;
}


thead tr {
    position: sticky;
    top: 60px;
    height: 50px;
    z-index: 9;
    text-align: left;
    vertical-align: middle;
}

th {
    margin-top: 5px;
    height: 50px;
    background-color: var(--container-background);
    background-color: var(--hover-color);
}

th:last-child {
    column-span: 1;
}



tr:hover .action>i {
    color: var(--text-color);
}

/* for border-radius -> row */
tr td:first-child,
th:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

tr td:last-child,
th:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}



td span {
    /* for profile image */
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 15px;
    color: var(--text-color);
}

td {
    min-width: 30px;
    color: var(--text-color);
    background-color: var(--container-background);
}

tr:hover td {
    background-color: var(--hover-color);
}

td span img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

/* first two columns sticky*/
tr {
    position: relative;
}

.sticky {
    position: sticky;
}

.sticky.col-input {
    left: var(--overall-padding);
    padding: var(--overall-padding);
    z-index: 2
}

.sticky.col-data,
.sticky.col-title {
    z-index: 3;
}

.col-title,
.col-data {
    min-width: 180px;
}

.col-input {
    text-align: center;
    min-width: 50px;
}

/* for options menu*/
.action {
    font-size: 14px;
    cursor: pointer;
    padding: 0px 10px;
    position: relative;
}

.action-div {
    position: absolute;
    background-color: var(--accent-background);
    z-index: 10;
    right: 100%;
    padding: 10px;
    border-radius: 10px;
}

.action-ul li svg {
    stroke: var(--text-color);
}

.action-ul li {
    list-style-type: none;
    padding: 8px 16px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.action-ul li:hover {
    background-color: var(--hover-color);
}

.action-ul li.active {
    cursor: not-allowed !important;
    /* pointer-events: none; */
}

/* Status */
.status[data-status='Pending'] {
    background-color: var(--warning-background);
    color: var(--warning-text-color);
    max-width: max-content;
    padding: 8px 10px 8px 20px;
    border-radius: 5px;
}

.status[data-status='Declined'] {
    background-color: var(--danger-background);
    color: var(--danger-text-color);
    max-width: max-content;
    padding: 8px 10px 8px 20px;
    border-radius: 5px;
}

.status[data-status='Approved'] {
    background-color: var(--success-background);
    color: var(--success-text-color);
    max-width: max-content;
    padding: 8px 10px 8px 20px;
    border-radius: 5px;
}

.status {
    position: relative;
}

.status::before {
    position: absolute;
    content: '.';
    top: 24%;
    left: 13%;
    bottom: 0;
    transform: scale(4);
}

input[type='checkbox'] {
    all: unset;
    height: 15px;
    width: 15px;
    border: 1px solid var(--hover-text-color);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

input[type='checkbox']:checked::before {
    content: '\2714';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: var(--hover-text-color);
}

input[type='checkbox']:indeterminate::before {
    content: '-';
    position: absolute;
    top: 45%;
    left: 15%;
    right: 15%;
    height: 2px;
    background-color: var(--hover-text-color);
}

@media only screen and (max-width: 400px) {
    #search {
        width: 135px;
    }
}

@media only screen and (min-width:400px) {
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        width: 90%;
        height: 70%;
    }

    #search {
        width: 180px;
    }
}

@media only screen and (min-width:778px) {
    .container {
        width: 80%;
        height: 80%;
    }

    #search {
        width: 250px;
    }
}